@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tooltip {
    position: relative;

    .tooltip-text {
        //https://www.w3schools.com/css/css_tooltip.asp
        visibility: hidden;
        width: 200px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;

        bottom: 105%;
        left: 40%;
        margin-left: -60px;

        /* Position the tooltip */
        position: absolute;
        z-index: 1;
    }

    &:hover .tooltip-text {
        visibility: visible;
    }

    .tooltip-text::after {
        content: " ";
        position: absolute;
        top: 100%; /* At the top of the tooltip */
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

.title {
    padding: 0.8rem 2rem;
    min-width: 250px;
    text-align: center;
    font-size: 3rem;
    background-color: black;
    color: white;
    border-radius: 0.5rem;
    cursor: pointer;
}

.click-me {
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 1rem auto;
}
